<header>
  <nav class="bg-[--tvclr] px-4 py-4">
    <div class="flex items-center">
      <div class="w-[50%] xl:w-[20%] pr-4">
        <a href="/" title="TUV Turkey" target="_self" class="">
          <img src="/assets/tuvlogo-white.svg" alt="TUV Turkey" class="" />
        </a>
      </div>
      <div class="flex justify-end items-center flex-1 xl:hidden">
        <button class="tio p-2 text-[2rem] text-white rounded-full">
          menu_hamburger
        </button>
      </div>
      <div class="hidden xl:block xl:flex-1 text-center">
        Desktop Menü
      </div>
    </div>
  </nav>
</header>