@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./util/spinner.scss";
@import "./util/icons.scss";
@import "./util/fonts.scss";
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Inter", "arial";
  font-size: 16px;
  margin: 0;
  --tuv-color:#001ed2;
  --tuv-color1:#00003c;
  --tuv-color2:#8cf000;
  --max-width:1300px;
}
.deneme{
  background-image: url(../assets/tuvlogo-white.svg);
  background-image: url(../assets/tuvlogo.svg);
}
h1, .h1 {
  font-size: 300%;
  font-weight: 900;
  color: var(--thm-color);
}
h2, .h2 {
  font-size: 250%;
  font-weight: 700;
  color: var(--thm-color);
}
h3, .h3 {
  font-size: 200%;
  font-weight: 600;
}
h4, .h4 {
  font-size: 150%;
  font-weight: 500;
  margin-top: 1.4rem;
  text-align: start;
}

p{
  @apply  py-2 ;
}
input,textarea,select{
  outline: none;
}
.form-label{
  @apply block mb-1 text-sm  text-gray-900 dark:text-white font-semibold;
}
.form-text{
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.form-select{
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.btn{
  @apply disabled:bg-gray-300 disabled:text-gray-500 disabled:font-bold disabled:pointer-events-none select-none;
}
.btn-blue{
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
}
.btn-orange{
  @apply text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-1.5 me-2 mb-2 dark:bg-orange-600 dark:hover:bg-orange-700 focus:outline-none dark:focus:ring-orange-800
}

.btn-purple{
  @apply text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-1.5 me-2 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800
}

.btn-red{
  @apply text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-1.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800
}


.btn-arti{
  @apply relative overflow-hidden inline-block duration-100  px-4 py-2 rounded text-center  text-white
}

.btn-arti.btn-thm-color{
  @apply bg-[--thm-color] text-white hover:bg-[--thm-color-dark]
}

.menu-active{
  color:yellow;
}