<footer class="bg-[--tuv-color1]">
    <div class="lg:hidden">
        <div class="mx-auto w-3/4 p-10 pt-0">
            <a href="/cy/en/home/" title="TUEV Cyprus" target="_self"
                class="w-full h-[95px] bg-[--tuv-color] flex flex-col justify-end p-2 px-5">
                <img src="https://www.tuv-nord.com/Resources/Public/Media/TN/TUEV-NORD_Logo_White_sRGB.svg"
                    alt="TUEV Cyprus" class="w-full h-auto">
            </a>
        </div>
        <div class="px-5 text-white">
            <h2 class="font-bold mb-4 text-[1.2rem]">Your Contact</h2>
            <a href="" class="py-1 flex items-center">
                <i class="tio text-white text-[1.1rem] mr-2">draft</i>
                Contact Form
            </a>
            <a href="tel:+357 22442840" class="py-1 flex items-center">
                <i class="tio text-white text-[1.1rem] mr-2">call</i>
                +357 22442840
            </a>
        </div>
        <hr class="border-[white] py-4 mt-4">
        <div class="px-5 text-white">
            <h2 class="font-bold mb-4 text-[1.2rem]">Address</h2>
            <p>TÜV CYPRUS, Papaflessa 2, 2235 Latsia, Nicosia P.O.Box: 20732, 1663 Nicosia, Cyprus</p>

            <a href="tel:+357 22442840" class="py-1 flex items-center">
                <i class="tio text-white text-[1.1rem] mr-2">call</i>
                +357 22442840
            </a>
        </div>
        <hr class="border-[white] py-4 mt-4">
        <div class="px-5 text-white">
            <h2 class="font-bold mb-4 text-[1.2rem]">Sitemap</h2>

            <a href="tel:+357 22442840" class="py-1 flex items-center">
                <i class="tio text-white text-[1.1rem] mr-2">globe</i>
                Sitemap
            </a>
        </div>
        <nav class="c-page-foot__nav">© TÜV NORD GROUP <ul class="c-nav-foot">
                <li><a href="/cy/en/data-protection-1/">Data Protection</a></li>
                <li><a href="/cy/en/editorial/">Editorial information</a></li>
            </ul>
        </nav>
    </div>
    <div class="hidden lg:block max-w-[--max-width] mx-auto">
        <div>
            <a href="/cy/en/home/" title="TUEV Cyprus" target="_self"
                class="w-[200px] h-[50px] bg-[--tuv-color] flex flex-col justify-end p-2 px-5">
                <img src="https://www.tuv-nord.com/Resources/Public/Media/TN/TUEV-NORD_Logo_White_sRGB.svg"
                    alt="TUEV Cyprus" class="w-full h-auto">
            </a>
        </div>
        <div class="flex text-white py-10">
            <div class="w-1/4 pr-2">
                <div class="u-lap-and-up-pr">
                    <h3 class="font-bold mb-2"><span>Your contact</span></h3>
                    <ul class="o-list-bare u-mb">

                        <li><a href="/cy/en/contact-form/" class="item-link" data-icon="ui_contact"
                                data-icon-size="l">Contact form</a></li>
                    </ul>


                    <a href="tel:+357 22442840" class="c-phone" data-icon="ui_phone">+357 22442840</a>
                    <p class="u-text--">(Fax +357 22442850)</p>

                </div>
            </div>
            <div class="w-1/4 pr-2">
                <div class="u-1/2-lap  u-1/4-desk o-layout__item">
                    <div>
                        <h3 class="font-bold mb-2"><span>Address</span></h3>
                    </div>

                    <div class="u-lap-and-up-pr">
                        <ul class="o-list-bare u-mb">


                        </ul>

                        <p>TÜV CYPRUS, Papaflessa 2, 2235 Latsia, Nicosia P.O.Box: 20732, 1663 Nicosia, Cyprus</p>



                        <a href="tel:+357 22442840" class="c-phone" data-icon="ui_phone">+357 22442840</a>

                        <p class="u-text--">(Fax +357 22442850)</p>


                    </div>
                </div>
            </div>
            <div class="w-1/4 pr-2">
                <div class="u-1/2-lap  u-1/4-desk o-layout__item">
                    <div>
                        <h3 class="font-bold mb-2"><span>Sitemap</span></h3>
                    </div>
                    <div class="u-lap-and-up-pr">
                        <ul class="o-list-bare u-mb">

                            <li>
                                <a href="/cy/en/sitemap/" class="flex items-center">
                                    <i class="tio text-white text-[1.4rem] mr-1">globe</i>
                                    Sitemap
                                </a>
                                </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="w-1/4 pr-2">
                <div class="u-1/2-lap  u-1/4-desk o-layout__item">
                    <div>
                        <h3 class="font-bold mb-2"><span>Location Finder</span></h3>
                    </div>

                    <div class="u-lap-and-up-pr">
                        <p>The subsidiaries of the TÜV NORD GROUP operate as safety experts and technology advisors in
                            more than 100 countries. Find a location near you!</p>

                        <form action="https://www.tuev-nord.de/locationfinder" method="get" target="_blank">
                            <input type="hidden" name="lng" value="el">
                            <input type="hidden" name="country" value="gr">

                            <span class="o-input-group">
                                <span class="u-1/1">
                                    <input type="text" name="city" class="c-form__input c-form__input--no-border"
                                        placeholder="Search address">
                                </span>
                                <span>
                                    <button href="https://www.tuev-nord.de/locationfinder"
                                        class="c-button c-button--icon-only c-button--alt" data-icon="ui_search">
                                        <span class="u-hide">Search</span>
                                    </button>
                                </span>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <nav class="text-white flex py-4">© TÜV NORD GROUP <ul class="ml-2 flex space-x-2">
                <li><a href="/cy/en/data-protection-1/">Data Protection</a></li>
                <li><a href="/cy/en/editorial/">Editorial information</a></li>
            </ul>
        </nav>
    </div>
</footer>