.deneme {
  background-image: url(../assets/tuvgrp.jpg);
}

table {
  --query-border: 1px solid rgba(0, 0, 0, 0.3);
  tr td:nth-of-type(1) {
    font-size: 0.9rem;
    width: 25%;
  }
  tr td:nth-of-type(2) {
    font-size: 0.8rem;
    width: 75%;
  }
  tr td {
    padding: 0.5rem;
    border-top: var(--query-border);
    border-left: var(--query-border);
  }
  border-right: var(--query-border);
  border-bottom: var(--query-border);
}
@media screen and (min-width: 1200px) {
  table {
    tr td:nth-of-type(1) {
      font-size: 1.2rem;
    }
    tr td:nth-of-type(2) {
      font-size: 1rem;
    }
  }
}

.deneme{
  font-size: 14px;
}
