{{>header}}

<div class="">
    <div class="py-5 flex flex-wrap">
        <div class="w-full lg:w-[70%] px-4 text-justify">
            <form class="w-full mx-auto relative mb-5">
                <h3 class="text-[1.5rem] font-bold mb-2 ">Certificate Query</h3>
                <div class="flex xl:max-w-[85%]">
                    <button id="dropdown-button" data-dropdown-toggle="dropdown"
                        class="shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                        type="button"> <span class="txt-area">Legislation</span> <svg class="w-2.5 h-2.5 ms-2.5"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg></button>
                    <div id="dropdown"
                        class="z-10 hidden absolute top-full left-0 w-44 h-auto bg-white divide-y divide-gray-100 rounded-lg shadow-sm  dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                        </ul>
                    </div>
                    <div class="relative w-full">
                        <input type="search" id="search-dropdown"
                            class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                            placeholder="Certificate Number" required />
                        <button id="search-btn" type="button"
                            class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                            <span class="sr-only">Search</span>
                        </button>
                    </div>
                </div>
            </form>
            <article id="articArea" class=" lg:pr-4 lg:w-[95%]">
                <h2 class="mb-3 text-[1.4rem] lg:text-[2.2rem] font-bold text-center lg:text-left">Welcome to the
                    TÜVNord certificate
                    information area</h2>

                <p class="xl:pr-5 ">
                    <img src="/assets/tuvgrp.jpg" class="lg:float-left lg:w-[45%] w-[50%] float-left h-auto mr-4 mb-2"
                        alt="">
                    “Making our world safer”.
                    Under this slogan, TÜVNORD, with its approximately 10,000 employees, provides services in 70
                    countries to make people, the environment,
                    products, organizations and facilities safer, more reliable, more effective and efficient. The
                    main areas of these services are Industrial Services, Natural Resources, Education,
                    Transportation and Human Resources.

                    TÜV NORD's Roots

                    The success story of the TÜVNORD Group began in 1869 with the voluntary supervision and
                    inspection of steam boilers, which were newly introduced to industry at that time, for their
                    safe operation.

                    These studies, which began under the roof of DÜV (Dampfkessel Überwachungs-Verein; Steam Boiler
                    Supervision Association), became widespread and gained validity when the state administration
                    authorized the commissioning of such hazardous facilities and relied on DÜV's technical report
                    for the permit.
                </p>
                <p>


                </p>
            </article>
            <div id="docVer" class="hidden lg:pr-4 lg:w-[95%]">
                <h2 class="text-[1rem] lg:text-[1.4rem] font-bold">DOCUMENT VERIFICATION</h2>
                <table class="hidden border-collapse w-full">
                    <tbody>
                        
                    </tbody>
                </table>
                <div id="noCert" class=" text-center py-10 text-[1.8rem] lg:text-[3rem] font-bold text-black/40">
                    Not Found
                </div>
            </div>
        </div>
        <div class="w-full  lg:w-[30%]   px-4 py-10 space-y-2">
            <h3 class="text-[1.2rem] lg:text-[1.8rem] font-bold">KVKK ve Gizlilik</h3>
            <ul class=" space-y-4">
                <li>
                    <a target="_blank" href="https://www.tuv-nord.com/tr/tr/kvkk/web-gizlilik-ve-kvk-ilkeleri/"
                        class="bg-gray-200 px-4 py-2 hover:bg-[--tvclr] rounded-md duration-200 hover:text-white"
                        aria-current="true">
                        Gizlilik ve Kişisel Verilerin Korunması ilkeleri
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.tuv-nord.com/tr/tr/kvkk/ilgili-kisi-basvuru-formu/"
                        class="bg-gray-200 px-4 py-2 hover:bg-[--tvclr] rounded-md duration-200 hover:text-white">İlgili
                        Kişi Başvuru Formu</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.tuv-nord.com/tr/tr/kvkk/cerez-politikasi/"
                        class="bg-gray-200 px-4 py-2 hover:bg-[--tvclr] rounded-md duration-200 hover:text-white">Çerez
                        Politikası</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.tuv-nord.com/tr/tr/kvkk/iletisim-formu-aydinlatma-metni/"
                        class="bg-gray-200 px-4 py-2 hover:bg-[--tvclr] rounded-md duration-200 hover:text-white">İletişim
                        Formu Aydınlatma Metni</a>
                </li>
                <li>
                    <a class="bg-gray-200 px-4 py-2 hover:bg-[--tvclr] rounded-md duration-200 hover:text-white"
                        target="_blank" href="https://www.tuv-nord.com/tr/tr/kvkk/ilgili-kisi-basvuru-formu/">İlgili
                        Kişi Başvuru
                        Formu

                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>

{{>footer}}