{{>header}}
<div class="container">
  <div class="row">
    <div class="singin-card-cont col-12 py-5">
      <div class="card card-panel">
        <a href="/home" title="TUV Turkey" target="_self" class="logo-link"><img src="/images/tuvlogo.svg"
            alt="TUV Turkey" /></a>
        <div class="error-area"></div>
        <div class="mb-3">
          <label for="email" class="form-label fw-bold">Email Adress</label>
          <input type="email" class="form-control" id="email" required aria-describedby="emailStatus" />
          <div id="emailStatus" class="form-text text-danger"></div>
        </div>
        <div class="mb-3 ">
          <label for="passw" class="form-label fw-bold">Password</label>
          <div class="passwarea">
            <input type="password" class="form-control " id="passw" />
            <span class="eyearea">
              <i class="bi bi-eye-slash"></i>
            </span>
          </div>
          <div id="passwStatus" class="form-text">Min. 6 charchter,min.1 number,min 1 Uppercaase
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input " id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button id="sendbtn" class="btn btn-primary" disabled="disabled">Signin</button>
        <div class="spinner-area ">
          <div class="spinner icon-spinner-1 spinner-steps1 "></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{>footer}}