.deneme {
  background-image: url(./assets/logo.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bgImageMobile {
  background-image: url(https://www.tuv-nord.com/typo3temp/focuscrop/ccb985414cfd81627d441a986ad31970790b2386-fp-9-5-0-0.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 166%;
}
.bgImageAreaLg {
  background-image: url(https://www.tuv-nord.com/typo3temp/focuscrop/ccb985414cfd81627d441a986ad31970790b2386-fp-9-5-0-0.jpg);
  background-position:  center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 650px;
  width: 100%;
}
