@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./util/spinner.scss";
@import "./util/icons.scss";
@import "./util/fonts.scss";
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Inter", "arial";
  font-size: 16px;
  margin: 0;
  --tuv-color:#001ed2;
  --tuv-color1:#00003c;
  --tuv-color2:#8cf000;
  --max-width:1300px;
}
