<!DOCTYPE html>

<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tüvnord Certificate Query</title>
    {{!-- <link rel="canonical" href="{{url}}"> --}}
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="designer" content="Tüvnord">
    <meta name="description"
        content="Tüvnord Certificate Query Site">
    <meta name="robots" content="noindex,nofollow">

</head>

<body >
    <img src="{{imgData}}" alt="">

</body>

</html>